* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.common-btn {
  background: #02020E;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 9px 17px;
  font-weight: bold;
  border: 1px solid #02020E;
}
.common-btn:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: all ease 0.2s;
  scale: 0.95;
}

nav {
  height: 60px;
  width: 70vw;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
nav img {
  height: 30px;
}

nav ul {
  display: flex;
  gap: 35px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
}

nav ul li a:hover {
  text-decoration: none;
  color: #2b58ee;
}
