* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.common-btn {
  background: #172df3;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 9px 17px;
  font-weight: bold;
  border: 1px solid #172df3;
  text-decoration: none;
  transition: 0.2s;
}
.common-btn:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transform: scale(0.9);
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

nav {
  height: 60px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 45px;
}

nav ul {
  display: flex;
  gap: 35px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
}

nav ul li a:hover {
  text-decoration: none;
  color: #172df3;
  transition: 0.2s;
}

/* Hero section starts */
.hero {
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-image: url("./assets/miguel-henriques-RfiBK6Y_upQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0;
}
.hero-content {
  max-width: 805px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero-content h1 {
  font-size: 72px;
  color: white;
  font-weight: bold;
}
.hero #connect {
  color: #172df3;
  font-style: italic;
}
.hero div p {
  font-size: 20px;
  color: #d1cece;
  max-width: 740px;
  width: 100%;
  line-height: 22px;
}

/* speakers section starts */
.speakers {
  max-width: 1100px;
  width: 100%;
  margin: 60px auto;
}
.speakers h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}
.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.card-content {
  padding: 10px;
}
.topic {
  display: inline-block;
  color: #3b5cff;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card h3 {
  font-size: 22px;
  margin-bottom: 2px;
}
.card p {
  color: #666;
  font-size: 15px;
  line-height: 1.5;
}

/*----- Pricing section starts -----*/
.pricing {
  max-width: 1160px;
  width: 90%;
  padding: 40px 0;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.pricing-header {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.pricing-header h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;
}
.pricing-header p {
  color: #9e9a9a;
  font-size: 16px;
}
.package-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.package-card {
  max-width: 370px;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  padding: 32px;
  border: 1px solid rgb(224, 223, 223);
  transition: all ease-in-out 0.3s;
}
.package-card:hover {
  scale: 1.04;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.package-card p:first-child {
  font-size: 14px;
  text-transform: uppercase;
  color: #a9a9ac;
}

.package-card h2 {
  font-size: 40px;
  margin: 10px 0 0 0;
}
.package-card p:nth-of-type(2) {
  font-size: 14px;
  text-transform: uppercase;
  color: #a9a9ac;
}

.package-card hr {
  margin-top: 8px;
  border: none;
  height: 1px;
  background-color: rgb(202, 199, 199);
  margin: 22px 0;
}

.package-offer-container {
  margin: 10px 0;
  color: #444343;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.offers {
  display: flex;
  align-items: start;
  gap: 15px;
  margin: 5px 0;
  font-size: 14px;
}

.dot {
  color: rgb(12, 114, 182);
}
.offer-btn {
  width: 100%;
  margin-top: 15px;
  background: #ffffff;
  color: #062bf8;
}

.pro-package {
  background: #0d1b2a;
}
.pro-package p {
  color: #c9cace;
}
.pro-package hr {
  background: #5a5959;
}
.pro-package p:first-child {
  color: #697ffa;
}
.pro-package h2 {
  color: #ffffff;
}
.pro-btn {
  background: #062bf8;
  color: white;
}

/*----- FAQ & Contact section starts -----*/

.faq-contact {
  max-width: 1160px;
  width: 90%;
  margin: 10px auto;
  /* background: #ee4141; */
  padding: 80px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.faq-contact h2 {
  width: 100%;
  /* background: #a8d407; */
}

.faq-contact-left {
  width: 45%;
}
.faq-contact-left details {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(150, 148, 148);
  margin: 10px 0;
}
details summary {
  color: #000000;
}
details p {
  padding: 10px 18px;
  color: #18345c;
  font-style: italic;
  font-size: 14px;
}
.faq-contact-right {
  width: 45%;
}

.faq-contact-right .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
.faq-contact-right input,
.faq-contact-right textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(150, 148, 148);
}
.faq-contact-right textarea {
  resize: none;
}

/*----- footer starts -----*/
footer {
  width: 100%;
  padding:40px 0;
  background: #0d1b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a19e9e;
}
.footer-child-div {
  width: 80%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-right-div {
  width: 50%;
}
.footer-left-div {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.footer-anchor {
  color: #a19e9e;
  text-decoration: none;
}
